body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: #0e0b16;
}
.header {
    text-align: center;
    padding: 2rem;
    background: radial-gradient(circle, #ff0054, #45006c);
    color: #ffffff;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: #1b0032;
    padding: 1rem;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff0054;
}
.section {
    padding: 2rem;
    text-align: center;
}

.section:nth-child(even) {
    background: linear-gradient(to bottom, #45006c, #1b0032);
}
.gallery-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.gallery-item {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #ff009d, #1b0032);
    border-radius: 50%;
}

.footer {
    text-align: center;
    padding: 1rem;
    background: #1b0032;
    color: #ffffff;
    font-size: 0.9rem;
}
